.helper {
	// height: 50vh;
}
.container {
	position: relative;
	background-color: white;
	z-index: 5;
	padding: 2em;
	min-height: 100vh;
}
.editor_pick {
	display: grid;
	align-items: center;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.slide_caption {
	position: absolute;
	bottom: 3em;
	left: 1em;

	& > span {
		text-transform: capitalize;
		background-color: rgba(0, 0, 0, .5);
		display: table;
		color: whitesmoke;
	}

	& > span:last-child {
		background-color: whitesmoke;
		color: black;
		font-size: .75em;
	}
}