@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	margin: 0;
	font-family: Roboto !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h6 {
	font-size: .75rem !important;
}

.breadcrumb-item a {
	color: black;
	text-decoration: none;
}

.breadcrumb > .active {
	color:  darkgoldenrod !important;
	font-weight: bold;
}

.breadcrumb-item+.breadcrumb-item::before {
	content: var(--bs-breadcrumb-divider, "|") !important;
}

.swiper-container {
	position:fixed !important;
	top:62 ;
	left:0;
	width:100%;
}