.photo {
	cursor: pointer;
}
.infos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1.5em;
}
	.title {
		font-size: .8em;
		text-transform: capitalize;
	}
	.artist {
		cursor: pointer;
		font-size: .75em;
		color: gray;
		&:hover { color:darkgoldenrod }
	}
	.in_stock {
		& i {
			font-size: 10px;
			padding-left: 8px;
			color: green;
		}
	}
	.painting_type {
		font-size: .75em;
		background-color: whitesmoke;
		border-radius: 3px;
		padding: 0 3px;
	}